h1 {
color: red;
}/* write your CSS here */
p {
color: blue;
font-family: 'helvetica';
font-size:16px;
}
h2 {
	color: green;
	background-color: blue;
}
ul {
	background-color: red;
}
ol {
	background-color: orange;
}
